<a href="https://colab.research.google.com/github/Braganzacpe/CPE12S2-CPE-003A/blob/main/Python_Fundementals_(BRAGANZA).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentation

In [20]:
if 5 > 2:
  print("Five is greater than two!")

Five is greater than two!

Python Comments

In [22]:
#This is a comment
print("Hello, CPE!")

Hello, CPE!

Python Naming Conventions

In [63]:
size = float(10)
size_2 = int(5)
Size = "small"
print(size)
print(size_2)
print(Size)

10.0
5
small

Python Variable

In [26]:
x = 1
a, b = 0, -1
a, b, c = 0, -1 ,2
b = "Sally" #This is a type of string
print (a, b, c)

0 Sally 2

Python Casting

In [34]:
b = "sally" #This is a type of string
b =int(4)
print(b)

b=float(4)
print(b)

4
4.0

Python Type() function

In [37]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

Python "Double quote" or 'Single quotes'

In [43]:
y = "John"
y = 'John'
print(y)

John

Python Case sensitive

In [47]:
a = 4
A = "Sally"
#A will not overwrite a
print(a,A)

4 Sally

Python Multiple Variables

In [52]:
x,y,z = "one", "two", "three"
print(x)
print(y)
print(z)

one
two
three

One Value to Multiple Variables

In [54]:
x = y = z = "four"
print(x)
print(y)
print(z)

four
four
four

Output Variables

In [55]:
x = "enjoying"
print("Python programming is " +x)

Python programming is enjoying

Other way:

In [65]:
x = "Pythong is "
y = "enjoying"
z= x + y
print(z)

Pythong is enjoying

Arithmetic Operations

In [70]:
#Additon
x =5
y = 3
print(x+y)

x =5
y = 3
sum = x+y
sum

#Subtraction
print(x-y)

#Multiplication
print(x*y)

#Division
print(x/y)

#Modulus
print(x%y)

#Exponentiation
print(x**y)

#Floordivision
print(x//y)

8
2
15
1.6666666666666667
2
125
1

Assignment Operator

In [89]:
#
s=1
s+=3 #same as s = s + 3 > s = 1 + 3 > s = 4
print(s)

#+=
s=1
s+=3
print(s)

#-=
s=1
s-=3
print(s)

#*=
s=1
s*=3
print(s)

#/=
s=1
s/=3
print(s)

#%=
s=1
s%=3
print(s)

#**=
s=1
s**=3
print(s)

#//=
s=1
s//=3
print(s)

#&=
s=1
s&=3
print(s)

#|=
s=1
s|=3
print(s)

#^=
s=1
s^=3
print(s)

#>>=
s=1
s>>=3
print(s)

#<<=
s=1
s<<=3
print(s)

4
4
-2
3
0.3333333333333333
1
1
0
1
3
2
0
8

Comparison Operators

In [91]:
t = 1
u = 2

#== Equal
print (t==u)
#!= Not Equal
print (t!=u)
#> Greater Than
print (t>u)
#< Less Than
print (t<u)
#>= Greater than or equal to
print (t>=u)
#<= Less Than or equal to
print (t<=u)

False
True
False
True
False
True

Logical Operator

In [99]:
t = 2

#and
print(t < 5 and t < 10)
#or
print(t < 5 or t < 4)
#not
print(not(t < 5 and t < 10))

True
True
False

Identitiy Operators

Bitwise Operators

In [111]:
v = 2

# & AND
print(1&2)
print(15&15)

# | OR
print(v<<1)

# ^ XOR
print(v^1)

# ~  NOT
print(~v)

# << ZERO FILL LEFT SHIFT
print(v<<1)
print(v<<2)

# >> SIGNED RIGHT SHIFT
print(v>>1)

0
15
4
3
-3
4
8
1